<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Verle tasks loader</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div><h1>Verle-go загузка задач</h1></div>
    <div>
      <img
        class="picture"
        src="static/agutin_button.jpeg"
        alt="Жми на кнопку"
      />
    </div>
    <div>
      <form action="" method="post" class="tasks-form">
        <div class="form-button">
          <input type="submit" value="Обновить задачи" />
        </div>
      </form>
    </div>
  </body>
</html>
